/* HERO */

.hero {
	background-color: #ecffeb;
}

.hero__content {
	position: relative;
	padding: 78px 0 136px 0;
}

.hero__content img {
	position: absolute;
	bottom: 0;
	right: -2%;
}

.hero__text {
	position: relative;
	z-index: 1;
}

.hero__text span {
	display: inline-block;
	margin-bottom: 7px;
	font-size: 20px;
	line-height: 1;
	font-weight: 600;
}

.hero__text h1 {
	margin-bottom: 20px;
	font-size: 61px;
	letter-spacing: 3px;

	color: #55a630;
	line-height: 1.1;
	max-width: 500px;
	font-weight: 700;
}

.hero__text p {
	display: inline-block;
	margin-bottom: 60px;
	font-weight: 500;
	line-height: 1.1;
	font-size: 20px;
	max-width: 420px;
}

.hero__buttons {
	display: flex;
	align-items: center;
	gap: 20px;
}

.hero__button {
	font-size: 17px;
	font-weight: 700;
	height: 66px;
	width: 285px;
}

/* courses */

.courses {
	padding-bottom: 175px;
}

.courses .trigger-block {
	margin-top: -20px;
	position: relative;
	z-index: 10;
}

.trigger-block {
	padding: 44px 47px 44px 47px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #fff;
	box-shadow: 2px 2px 20px rgba(66, 66, 66, 0.15);
	border-radius: 4px;
}

.trigger-block__item {
	max-width: 200px;
	text-align: center;
}

.trigger-block__item h3 {
	margin-bottom: 6px;
	font-size: 50px;
	font-weight: 700;
	color: #55a630;
}

.trigger-block__item span {
	font-weight: 400;
	font-size: 23px;
	line-height: 1.1;
	text-align: center;
	color: #424242;
}

/* courses slider*/

.courses__title {
	margin-top: 180px;
	font-size: 32px;
	text-align: center;
	letter-spacing: 1.5px;
	color: #424242;
}

.card-rainbow-slider {
	padding-top: 77px;
	overflow: hidden;
}

.courses-card {
	position: relative;

	background-color: #fff;
	box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.05);
	width: 365px;
}

.courses-card ::before {
	content: url('./../../images/employees/Courses-decor.svg');
	position: absolute;
	top: 3%;
	right: 3%;
}

.courses-card__container {
	padding: 16px 16px 16px 24px;
}

.courses-card__for {
	display: inline-block;
	margin-bottom: 15px;
	line-height: 1;
	font-size: 18px;
	font-weight: 600;
	color: #424242;
}

.courses-card__title {
	margin-bottom: 25px;
	font-size: 30px;
	font-weight: 600;
	line-height: 1;
	color: #4340b4;
}

.courses-card__action {
	margin-bottom: 24px;
	display: block;
	width: 166px;
	height: 36px;
	background-color: #4340b4;
	font-size: 20px;
	font-weight: 600;
	color: #fff;
	border: none;
	border-radius: 9px;
	text-align: center;
}

.courses-card__date {
	font-size: 20px;
	font-weight: 600;
	color: #424242;
	opacity: 0.8;
}

.courses-card__desc {
	margin-bottom: 55px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.courses-card__desc p {
	padding-left: 12px;
	align-self: flex-end;
	width: 150px;
	color: #424242;
	font-size: 14px;
	line-height: 1.95;
	font-weight: 400;
	opacity: 0.8;
	border-left: 2px solid #4340b4;
}

.courses-card__places {
	font-size: 18px;
	font-weight: 400;
	color: #424242;
	opacity: 0.8;
}

.courses-card__reg {
	width: 100%;
	height: 56px;
	border: none;
	background-color: #4340b4;
	color: #ffff;
	font-size: 20px;
	font-weight: 600;
}

.courses-card__link {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 56px;
	font-size: 20px;
	font-weight: 600;
	color: #4340b4;
	background-color: rgba(83, 81, 196, 0.1);
}

/* SWIPER */
.card-rainbow-slider__container {
	position: relative;
}

.swiper-wrapper {
	padding-bottom: 75px;
}

.swiper-btn {
	position: absolute;
	top: 40%;
	width: 24px;
	height: 16px;

	background-color: transparent;
	border: none;
}

.rainbow-prev {
	left: -4%;
}

.rainbow-next {
	right: -4%;
}

.swiper-btn:hover {
	cursor: pointer;
}

.rainbow-pagination {
	text-align: center;
}

.swiper-pg span {
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background: #b7ecb1;
}

.swiper-pg span .swiper-pagination-bullet-active {
	background: #55a630;
}

/* about */

.about {
	padding-bottom: 175px;
}

.about-bloсk {
	display: flex;
	gap: 121px;
}

.about-bloсk__img {
	width: 590px;
	height: 660px;
	flex-shrink: 0;
}
.about-bloсk__content {
}

.about-bloсk__content > span:first-child {
	display: inline-block;
	margin-bottom: 32px;
	font-weight: 500;
	font-size: 25px;
	color: #858585;
}

.about-bloсk__content > h2 {
	display: inline-block;
	margin-bottom: 70px;
	font-size: 35px;
	font-weight: 700;
	line-height: 1.1;
	color: #424242;
}

.about-bloсk__content > h2 span {
	display: block;
	color: #55a630;
}

.about-bloсk__desc {
	/* width: 452px; */
	margin-bottom: 60px;
	padding-right: 30px;
	font-size: 25px;
	font-weight: 500;
}

.about-bloсk__desc p {
	display: inline-block;
	line-height: 29px;
}

.about-bloсk__desc p:nth-child(1) {
	margin-bottom: 12px;
}

.about-bloсk__desc p:nth-child(2) {
	margin-bottom: 20px;
}

.about-bloсk__content a {
	display: block;
	font-size: 25px;
	font-weight: 500;
	color: #55a630;
	text-align: right;
}

.about-bloсk__content img {
	margin-left: 44px;
}

/* training */

.training {
	padding-bottom: 155px;
}

.training__title {
	margin-bottom: 76px;
	font-size: 35px;
	font-weight: 600;
	letter-spacing: 1px;
	text-align: center;
	color: #424242;
}

.training-block {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;
	row-gap: 57px;
}

.training-item {
	position: relative;

	width: 364px;
	height: 260px;
}

.training-item::before {
	content: '';
	background: rgba(35, 35, 35, 0.8);
	opacity: 0.6;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
}

.training-item_first {
	width: 570px;
	height: 280px;
}

.training-item_second {
	width: 570px;
	height: 280px;
}

.training-item img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.training-item__content {
	position: relative;
	padding: 35px 28px 35px 28px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	height: 100%;
	color: #fff;
	z-index: 1;
}

.training-item__content:hover {
	justify-content: space-between;
	cursor: pointer;
}

.training-item__title {
	font-size: 30px;
	font-weight: 600;
	line-height: 38px;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.training-item__title__aft {
	position: relative;
	max-width: 395px;
}

.training-item__content:hover .training-item__title__aft::after {
	position: absolute;
	content: url('./../../images/icons/Arrow-white-long.png');
	left: 100%;
	bottom: 0;
}

.training-item__content > div {
	display: none;
	font-size: 18px;
	font-weight: 500;
}

.training-item__content:hover > div {
	display: block;
	font-size: 18px;
	font-weight: 500;
}

/* modals */

.modals {
	padding-bottom: 178px;
}

.modals-block {
	display: flex;
	justify-content: space-between;
}

.modals-text {
	max-width: 629px;
}

.modals-text__title {
	margin-bottom: 75px;
	color: #55a630;
	letter-spacing: 1px;
	font-weight: 700;
	font-size: 40px;
}

.modals-text__desc {
	margin-bottom: 80px;
	font-size: 25px;
	line-height: 1.2;
}

.modals-text__desc > p:first-of-type {
	display: inline-block;
	margin-bottom: 33px;
}

.modals-text__btn {
	width: 385px;
	height: 75px;
	font-size: 23px;
	font-weight: 600;
	letter-spacing: 0.6px;
}

.modals-img {
	position: relative;
	flex-shrink: 0;
	width: 498px;
	height: 459px;
}

.modals-img img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

/* master-classes */

.master-classes {
	padding-bottom: 173px;
}

.master-classes__title {
	margin-bottom: 30px;
	font-size: 35px;
	line-height: 28px;
	font-weight: 700;
	letter-spacing: 1.6px;
	color: #424242;
	text-align: center;
}

.master-classes__desc {
	margin-bottom: 75px;
	font-size: 25px;
	line-height: 26px;
	letter-spacing: 1px;
	text-align: center;
}

.master-classes-slider .swiper-slide {
	width: 520px;
	height: 453px;
	background-color: #fff;
	box-shadow: 0 2px 20px rgba(66, 66, 66, 0.15);
}

.master-classes__img {
	position: relative;
	height: 223px;
}

.master-classes__img img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.mk-wrapper {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.master-classes__text {
	flex-grow: 1;
	display: flex;
}

.master-classes__text-left {
	padding: 15px 65px 25px 29px;
	display: flex;
	flex-direction: column;
}

.master-classes__text-date {
	margin-bottom: 10px;
	font-size: 16px;
	font-weight: 500;
	line-height: 24px;
	color: #424242;
	opacity: 0.6;
}

.master-classes__text-title {
	margin-bottom: 21px;
	font-size: 18px;
	line-height: 24px;
	color: #424242;
}

.master-classes__text-trener {
	margin-top: auto;
}

.master-classes__text-right {
	flex-shrink: 0;
	display: flex;
	flex-direction: column;
	width: 153px;
}

.text-right__pice {
	flex-grow: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	/* height: 132px; */
	font-size: 20px;
	font-weight: 600;
	background-color: #ecf9eb;
}

.master-classes__text-right a {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 98px;
	background-color: #55a630;
}

/* master slider */

.swiper-wrapper {
}

.master-classes-slider__container {
	position: relative;
}

.master-classes-slider {
	overflow: hidden;
}

/* why */

.why {
	padding-bottom: 156px;
}

.why__title {
	margin-bottom: 75px;
	font-size: 35px;
	font-weight: 700;
	letter-spacing: 1px;
	text-align: center;
}

.why__content {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.why__item {
	position: relative;
	padding: 40px 30px;
	width: 380px;
	min-height: 315px;
	background-color: #fff;
	box-shadow: 0 2px 20px rgba(66, 66, 66, 0.15);
}

.why__item:nth-child(even) {
	background-color: #b7ecb1;
}

.why__item-title {
	font-size: 25px;
	letter-spacing: 1px;
	line-height: 30px;
	min-height: 54px;
}

.why__item-desc {
	font-size: 20px;
	line-height: 23px;
	font-weight: 500;
	color: #1c1e23;
	opacity: 0.7;
}

.why__item-number {
	position: absolute;
	font-size: 108px;
	font-weight: 500;
	line-height: 1;
	color: rgba(85, 166, 48, 0.25);
}

.why__item-number:nth-child(odd) {
	bottom: 0;
	right: 29px;
}

.why__item:nth-child(even) .why__item-number {
	top: 0;
	right: 29px;
}

/* sale */

.sale {
	padding-bottom: 174px;
}

.sale__title {
	display: block;
	margin-bottom: 75px;
	font-size: 35px;
	line-height: 28px;
	text-align: center;
	letter-spacing: 1px;
}

/*  sale slider */

.sale-slider__container {
	position: relative;
}

.sale-slider {
	overflow: hidden;
}

/* feedback */

.feedback {
	padding-bottom: 175px;
}

.feedback__content {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 75px 0;
	background-color: #fff;
	box-shadow: 0px 2px 20px rgba(66, 66, 66, 0.2);
}

.feedback__info {
	text-align: center;
}

.feedback-form {
	margin-top: 60px;
	width: 510px;
}

.feedback__info__title {
	margin-bottom: 20px;
	font-size: 30px;
	line-height: 1;
	font-weight: 600;
	color: #55a630;
}

.feedback__info__desc {
	font-size: 16px;
	font-weight: 500;
	color: #424242;
}

.feedback-form__input-container {
	margin-bottom: 15px;
}

.feedback-form__input-container:last-child {
	margin-bottom: 0;
}

.feedback-form__input {
	padding: 21px 34px 21px 34px;
	width: 100%;
	border: 2px solid #55a630;
	outline: none;
}

.feedback-form__btn-send {
	margin-top: 30px;
	width: 100%;
	height: 71px;
	font-size: 23px;
	font-weight: 600;
	color: #fff;
	border: none;
	background-color: #55a630;
}
