/* HEADER */

.header-top {
	padding-top: 12px;
	padding-bottom: 9px;
	border-bottom: 1px solid #55a630;
}

.header-top__content {
	display: flex;
	align-items: center;
}

.header-top__logo {
	display: flex;
	align-items: center;
	gap: 10px;

	-ms-flex-item-align: center;
}

.header-top__logo img {
	width: 61px;
	height: 61px;
}

.header-top__logo span {
	font-size: 12px;
}

.header-top__phone {
	margin-left: auto;
	display: flex;
	align-items: center;
	font-size: 25px;
	font-weight: 500;
	color: #424242;
}

.header-top__phone::before {
	content: url('./../../images/icons/phone.svg');
	margin-right: 22px;
}

.social-links {
	margin: 0 66px 0 79px;
	display: flex;
	align-items: center;
	gap: 30px;
}

.current-lang {
	display: flex;
	align-items: center;
	gap: 10px;
}

.header-bottom__content {
	padding: 28px 0 19px 0;
}

.header-bottom__links {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

/* HERO */

.hero {
	background-color: #ecffeb;
}

.hero__content {
	position: relative;
	padding: 78px 0 136px 0;
}

.hero__content img {
	position: absolute;
	bottom: 0;
	right: -2%;
}

.hero__text {
	position: relative;
	z-index: 1;
}

.hero__text span {
	display: inline-block;
	margin-bottom: 7px;
	font-size: 20px;
	line-height: 1;
	font-weight: 600;
}

.hero__text h1 {
	margin-bottom: 20px;
	font-size: 61px;
	letter-spacing: 3px;

	color: #55a630;
	line-height: 1.1;
	max-width: 500px;
	font-weight: 700;
}

.hero__text p {
	display: inline-block;
	margin-bottom: 60px;
	font-weight: 500;
	line-height: 1.1;
	font-size: 20px;
	max-width: 420px;
}

.hero__buttons {
	display: flex;
	align-items: center;
	gap: 20px;
}

.hero__button {
	font-size: 17px;
	font-weight: 700;
	height: 66px;
	width: 285px;
}

/* courses */

.courses .trigger-block {
	margin-top: -20px;
	position: relative;
	z-index: 10;
}

.trigger-block {
	padding: 44px 47px 44px 47px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #fff;
	box-shadow: 2px 2px 20px rgba(66, 66, 66, 0.15);
	border-radius: 4px;
}

.trigger-block__item {
	max-width: 200px;
	text-align: center;
}

.trigger-block__item h3 {
	margin-bottom: 6px;
	font-size: 50px;
	font-weight: 700;
	color: #55a630;
}

.trigger-block__item span {
	font-weight: 400;
	font-size: 23px;
	line-height: 1.1;
	text-align: center;
	color: #424242;
}

/* courses slider*/

.swiper-slide {
	background-color: #fff;
	box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.05);
	width: 365px;
}

.courses-card {
}

.courses-card__for {
	margin-bottom: 14px;
	font-size: 18px;
	font-weight: 600;
}

.courses-card__title {
	margin-bottom: 23px;
	font-size: 30px;
	font-weight: 600;
	line-height: 1;
	color: #4340b4;
}

.courses-card__action {
	margin-bottom: 24px;
	display: block;
	width: 166px;
	height: 33px;
	background-color: #4340b4;
	font-size: 20px;
	font-weight: 600;
	color: #fff;
	border: none;
	border-radius: 9px;
	text-align: center;
}

.courses-card__date {
	font-size: 20px;
	font-weight: 600;
	color: #424242;
	opacity: 0.8;
}

.courses-card__desc {
	margin-bottom: 54px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.courses-card__desc p {
	padding-left: 10px;
	align-self: flex-end;
	width: 150px;
	color: #424242;
	font-size: 14px;
	line-height: 2;
	font-weight: 400;
	opacity: 0.8;
	border-left: 2px solid #4340b4;
}

.courses-card__places {
	font-size: 18px;
	font-weight: 400;
	color: #424242;
	opacity: 0.8;
}
