/* HEADER */

.header-top {
	padding-top: 12px;
	padding-bottom: 9px;
	border-bottom: 1px solid #55a630;
}

.header-top__content {
	display: flex;
	align-items: center;
}

.header-top__logo {
	display: flex;
	align-items: center;
	gap: 10px;

	-ms-flex-item-align: center;
}

.header-top__logo img {
	width: 61px;
	height: 61px;
}

.header-top__logo span {
	font-size: 12px;
}

.header-top__phone {
	margin-left: auto;
	display: flex;
	align-items: center;
	font-size: 25px;
	font-weight: 500;
	color: #424242;
}

.header-top__phone::before {
	content: url('./../../images/icons/phone.svg');
	margin-right: 22px;
}

.social-links {
	margin: 0 66px 0 79px;
	display: flex;
	align-items: center;
	gap: 30px;
}

.current-lang {
	display: flex;
	align-items: center;
	gap: 10px;
}

.header-bottom__content {
	padding: 28px 0 19px 0;
}

.header-bottom__links {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

/* HERO */

.hero {
	background-color: #ecffeb;
}

.hero__content {
	position: relative;
	padding: 78px 0 136px 0;
}

.hero__content img {
	position: absolute;
	bottom: 0;
	right: -2%;
}

.hero__text span {
	display: inline-block;
	margin-bottom: 7px;
	font-size: 20px;
	line-height: 1;
	font-weight: 600;
}

.hero__text h1 {
	margin-bottom: 20px;
	font-size: 61px;
	letter-spacing: 3px;

	color: #55a630;
	line-height: 1.1;
	max-width: 500px;
	font-weight: 700;
}

.hero__text p {
	display: inline-block;
	margin-bottom: 60px;
	font-weight: 500;
	line-height: 1.1;
	font-size: 20px;
	max-width: 420px;
}

.hero__buttons {
	display: flex;
	align-items: center;
	gap: 20px;
}

.hero__button {
	font-size: 17px;
	font-weight: 700;
	height: 66px;
	width: 285px;
}
