@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
	box-sizing: border-box;
}

body {
	font-family: 'Montserrat', sans-serif;
	box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5 {
	margin: 0;
	padding: 0;
}

p {
	margin: 0;
}

ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

a {
	color: inherit;
	text-decoration: none;
}

.container {
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

.wrapper {
	width: 100%;
	overflow: hidden;
	min-height: 100vh;
}

.btn {
	display: flex;
	align-items: center;
	justify-content: center;
}

.btn:hover {
	cursor: pointer;
}

.bg-green {
	background-color: #55a630;
	color: #ffff;
	border: 1px solid transparent;
}

.bg-transparent {
	background-color: transparent;
	border: 1px solid #55a630;
	color: #55a630;
}

/* HEADER */

.header-top {
	padding-top: 12px;
	padding-bottom: 9px;
	border-bottom: 1px solid #55a630;
}

.header-top__content {
	display: flex;
	align-items: center;
}

.header-top__logo {
	display: flex;
	align-items: center;
	gap: 10px;

	-ms-flex-item-align: center;
}

.header-top__logo img {
	width: 61px;
	height: 61px;
}

.header-top__logo span {
	font-size: 12px;
}

.header-top__phone {
	margin-left: auto;
	display: flex;
	align-items: center;
	font-size: 25px;
	font-weight: 500;
	color: #424242;
}

.header-top__phone::before {
	content: url('./../../images/icons/phone.svg');
	margin-right: 22px;
}

.social-links {
	margin: 0 66px 0 79px;
	display: flex;
	align-items: center;
	gap: 30px;
}

.current-lang {
	display: flex;
	align-items: center;
	gap: 10px;
}

.header-bottom__content {
	padding: 28px 0 19px 0;
}

.header-bottom__links {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
