@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
	box-sizing: border-box;
}

body {
	font-family: 'Montserrat', sans-serif;
	box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5 {
	margin: 0;
	padding: 0;
}

p {
	margin: 0;
}

ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

a {
	color: inherit;
	text-decoration: none;
}

.container {
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

.wrapper {
	width: 100%;
	overflow: hidden;
	min-height: 100vh;
}

.btn {
	display: flex;
	align-items: center;
	justify-content: center;
}

.btn:hover {
	cursor: pointer;
}

.bg-green {
	background-color: #55a630;
	color: #ffff;
	border: 1px solid transparent;
}

.bg-transparent {
	background-color: transparent;
	border: 1px solid #55a630;
	color: #55a630;
}

/* HEADER */

.header-top {
	padding-top: 12px;
	padding-bottom: 9px;
	border-bottom: 1px solid #55a630;
}

.header-top__content {
	display: flex;
	align-items: center;
}

.header-top__logo {
	display: flex;
	align-items: center;
	gap: 10px;

	-ms-flex-item-align: center;
}

.header-top__logo img {
	width: 61px;
	height: 61px;
}

.header-top__logo span {
	font-size: 12px;
}

.header-top__phone {
	margin-left: auto;
	display: flex;
	align-items: center;
	font-size: 25px;
	font-weight: 500;
	color: #424242;
}

.header-top__phone::before {
	content: url('./../../images/icons/phone.svg');
	margin-right: 22px;
}

.social-links {
	margin: 0 66px 0 79px;
	display: flex;
	align-items: center;
	gap: 30px;
}

.current-lang {
	display: flex;
	align-items: center;
	gap: 10px;
}

.header-bottom__content {
	padding: 28px 0 19px 0;
}

.header-bottom__links {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

/* footer */

footer {
	background-color: #424242;
}

.footer {
	display: flex;
	justify-content: space-between;
}

.footer-map {
	position: relative;
	width: 50%;
}

.footer-map__map {
	width: 100%;
	height: 100%;
}

.footer-contacts {
	padding: 39px 65px;
	width: 50%;
}

.footer-contacts__logo {
	margin-bottom: 50px;
	display: block;
}

.footer-contacts__logo img {
	height: 80px;
	width: 80px;
}

.footer-contacts__tel {
	margin-bottom: 25px;
	display: inline-block;
	font-size: 30px;
	color: #fff;
	font-weight: 700;
}

.footer-contacts__address {
	font-size: 25px;
	font-weight: 500;
	color: #fff;
}

.footer-contacts__list {
	margin-top: 84px;
	width: 350px;
	columns: 2;
}

.footer-contacts__list li {
	margin-bottom: 20px;
}

.footer-contacts__list li a {
	font-size: 18;
	font-weight: 500;
	color: #fff;
}

.footer-social {
	margin-top: 30px;
	display: flex;
	align-items: center;
	gap: 20px;
}

.footer-politic {
	margin-top: 30px;
	color: #fff;
	opacity: 0.7;
}

/* courses-card  */
.courses-card {
	position: relative;

	background-color: #fff;
	box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.05);
	width: 365px;
}

.courses-card ::before {
	content: url('./../images/employees/Courses-decor.svg');
	position: absolute;
	top: 3%;
	right: 3%;
}

.courses-card__container {
	padding: 16px 16px 16px 24px;
}

.courses-card__for {
	display: inline-block;
	margin-bottom: 15px;
	line-height: 1;
	font-size: 18px;
	font-weight: 600;
	color: #424242;
}

.courses-card__title {
	margin-bottom: 25px;
	font-size: 30px;
	font-weight: 600;
	line-height: 1;
	color: #4340b4;
}

.courses-card__action {
	margin-bottom: 24px;
	display: block;
	width: 166px;
	height: 36px;
	background-color: #4340b4;
	font-size: 20px;
	font-weight: 600;
	color: #fff;
	border: none;
	border-radius: 9px;
	text-align: center;
}

.courses-card__date {
	font-size: 20px;
	font-weight: 600;
	color: #424242;
	opacity: 0.8;
}

.courses-card__desc {
	margin-bottom: 55px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.courses-card__desc p {
	padding-left: 12px;
	align-self: flex-end;
	width: 150px;
	color: #424242;
	font-size: 14px;
	line-height: 1.95;
	font-weight: 400;
	opacity: 0.8;
	border-left: 2px solid #4340b4;
}

.courses-card__places {
	font-size: 18px;
	font-weight: 400;
	color: #424242;
	opacity: 0.8;
}

.courses-card__reg {
	width: 100%;
	height: 56px;
	border: none;
	background-color: #4340b4;
	color: #ffff;
	font-size: 20px;
	font-weight: 600;
}

.courses-card__link {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 56px;
	font-size: 20px;
	font-weight: 600;
	color: #4340b4;
	background-color: rgba(83, 81, 196, 0.1);
}
